{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

   {% extends 'base.html.twig' %}
        {% block body %}
         {% block content %}
          {{ form_start(Form) }}
             {{ form_label(Form.nom) }}
             {{ form_widget(Form.nom) }}

             {{ form_label(Form.prenom) }}
             {{ form_widget(Form.prenom) }}

            {{ form_label(Form.email) }}
            {{ form_widget(Form.email) }}

            {{ form_label(Form.pseudo) }}
            {{ form_widget(Form.pseudo) }}

            {{ form_rest(Form) }} 
             <button type="submit">Enregistrer</button>
         {{ form_end(Form) }}
         {% endblock %}
        {% endblock %}
</div>
{% endblock %}
