<style>
    .container {
        background-image : url(https://images.pexels.com/photos/7736104/pexels-photo-7736104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size : 100% 100%;
        width: 100%;
        min-height: 100%;
    }
    .form  {
        display: grid;
        min-width: 250px;
        max-width: 250px;
        margin: auto;
        border: 2.5px solid red;
        background-color: rgb(211, 94, 235);
        text-align: center;
        
        padding: 10px 20px 10px 20px;
    }
    .titre  {
            display: grid;
            margin: auto;
            text-align: center;
            color: red; 
            font-size: 30px; 
             
        }
    label  {
       color: red;
    }
    button  {
        background: bisque;
    }
</style>   
<div class="container">
 {{ form_start(inscription_form) }}
    <br>
    <div class="titre">
    Formulaire d'inscription
    </div>
    <br>
    <br>
    <div class="form">
   
        {{ form_label(inscription_form.nom) }}
        {{ form_widget(inscription_form.nom) }}
        <br>
        {{ form_label(inscription_form.prenom) }}
        {{ form_widget(inscription_form.prenom) }}
        <br>
        {{ form_label(inscription_form.email) }}
        {{ form_widget(inscription_form.email) }}
        <br>
        {{ form_label(inscription_form.pseudo) }}
        {{ form_widget(inscription_form.pseudo) }}
        <br>
        {{ form_label(inscription_form.password) }}
        {{ form_widget(inscription_form.password) }}
        <br>
        {{ form_label(inscription_form.codepostal) }}
        {{ form_widget(inscription_form.codepostal) }}
        <br>
        {{ form_label(inscription_form.pays) }}
        {{ form_widget(inscription_form.pays) }}
        <br>
        {{ form_rest(inscription_form) }}
        <br>
        <button type="submit">Enregistrer</button>
    
    </div>
 {{ form_end(inscription_form)}}
</div>